<!DOCTYPE html>
<html lang="en" th:fragment="html"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/fragment :: head"></head>
<body>
    <div class="containerPrincipal">
        <div th:insert="fragments/fragment :: header"></div>
        <div class="containerDroit">
            <div class="enTete">
                <div></div>
                <ul style="float: inline-end;">
                    <a href="/users" class="lien-menu">
                        <li ><img src="/fontawesome/svgs/solid/backward.svg" alt="">Retour</li>
                    </a>
                </ul>
            </div>
            <form  th:object="${user}" th:action="@{/users}" method="post">
                <h2 style="margin: 10px;" th:text="${user.id == null}?'Ajouter utilisateur':'Modifier utilisateur'" ></h2>
                <input  th:field="*{id}" hidden type="text">
                <div class="form-group">
                    <input th:field="*{pseudo}" type="text" name="pseudo" id="pseudo" placeholder="PSEUDO:">
                </div>
                <div class="form-group">
                    <input th:field="*{password}" type="text" name="motDePasse" id="motDePasse" placeholder="MOT DE PASSE:">
                </div>



                <div class="form-group group-button" style="margin: -5px;margin-top: 10px;">
                    <a href="/users" class="lien-menu">
                        <button id="annuler">Annuler</button>
                    </a>
                    <button type="submit" id="enregistrer" >Enregistrer</button>
                </div>
            </form>
          
        </div>
    </div>
</body>
</html>